*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-main{
    height: 100%;
    width: 100%;
}
.logo{
    float: left;
    position: absolute;
    margin-top: 6%;
    margin-left: 47%;
}
.logo img{
    height: 20px;
    width: 95px;
}
.title{
    margin-top: 10%;
    margin-left: 40%;
    float: left;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #161d6f;
    }
.title-font{
    font-size: 75px;
}
.title span{
    text-indent: 5em;
    display: flex;
    position: relative;
    background-color: #ffe097;
    margin-top: 10px;
    align-content: center;
    font-weight: 999;
    padding: 6px;
}
.title p{
    font-size: 20px;
}
.voucher{
    background: none !important;
    text-indent: 2em !important;
}
.title a{
    text-decoration: none;
    color: #050e74;
}
.hearth-left{
    position: absolute;
    display: flex;
    width: 250px;
    height: 450px;
    margin-top: 6%;
    margin-left: 12%;
}
.egg-left-1{
    position: absolute;
    display: flex;
    float: left;
    width: 150px;
    height: 350px;
    margin-top: 167%;
    margin-left: 25%;
    z-index: -1;
}

.egg-left-2{
    position: absolute;
    display: flex;
    float: left;
    width: 150px;
    height: 350px;
    margin-top: 167%;
    margin-left: 130%;
    z-index: -1;
}
.hearth-right{
    position: absolute;
    display: flex;
    width: 250px;
    height: 480px;
    margin-top: 14%;
    margin-left: 62%;
    z-index: -1;
}
.egg-right-1{
    position: absolute;
    display: flex;
    float: left;
    width: 150px;
    height: 280px;
    margin-top: -100%;
    margin-left: -5%;
}

.egg-right-2{
    position: absolute;
    display: flex;
    float: left;
    width: 150px;
    height: 290px;
    margin-top: -100%;
    margin-left: 80%;
}
.egg-right-3{
    position: absolute;
    display: flex;
    float: left;
    width: 150px;
    height: 350px;
    margin-top: 120%;
    margin-left: -35%;
    z-index: -20;
}
.footer{
    position: absolute;
    margin-top: 34%;
    margin-left: 46%;
    float: left;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #161d6f;
    font-size: 20px;
    }
    .footer a{
        text-decoration: none;
        color: #050e74;
        font-weight: bolder;
    }
    .footer-images .inst{
        height: 30px;
        position: absolute;
        display: block;
        float: left;
        margin-top: 10px;
    }
    
    .footer-images .face{
        height: 30px;
        position: absolute;
        display: block;
        float: left;
        margin-left: 40px;
        margin-top: 10px;
    }
    
    .footer-images .twit{
        height: 30px;
        
        margin-top: 10px;
        position: absolute;
        display: block;
        float: left;
        margin-left: 80px;
    }
    
    .footer-images .whats{
        height: 30px;
        margin-top: 10px;
        position: absolute;
        display: block;
        float: left;
        margin-left: 120px;
    }