*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
    width: 1000px;
    height: 750px;
    background: url(/images/for_homework.jpg);
    padding: 1px;
}
.container ul{
    list-style: none;
}
.container li{
    margin: 20px 10px 0px 10px;
    padding: 0px 0px 20px 20px;
}
.container-link a{
    text-decoration: none;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #949dab;
}
.line{
    clear: both;
}

.container h1{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 65px;
}
.content-text{
    width: 462px;
    height: 258px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 65px;
}.content-right{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 320px 0 0 0;
}
.text-lower{
    color: #49545f;
    font-family: Arial, Helvetica, sans-serif;
    margin: 190px 400px 0 25px ;
}
