*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left{
    float: left;
    margin: 10px 10px 5px 10px;
}
.right{
    float: right;
    margin: 5px 5px 5px 5px;
}
.container{
    width: 735px;
}
.container-nav{
    max-width: 735px;
    height: 36px;
    padding: 1px;
    margin: 10px 0 0 0;
    background: #0084ce;
}
.container-nav ul{
    list-style: none;
}
.container-nav a{
    color: #f2fafd;
}
.container-nav li{
    margin: 10px 10px 0px 10px;
}

    .line{
        clear: both;
    }
    .content-up{
        margin: 20px 10px 10px 10px;
    }
    
    .content-low{
        margin: -5px 10px 10px 10px;
    }